<!DOCTYPE html>
<html>
    {{>head}}
    <body>
        <div class="container">
            {{{ body }}}
        </div>
        {{>includes/scripts}}
        {{>includes/testScripts}}
    </body>
</html>
