<header>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <ul class="nav navbar-nav">
                    <li><img style="height: 50px;" src="/img/raspberry.png"></li>
                    <li><a href="#"><h5>Raspberry Pi Web Interface</h5></a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<div id="app" class="container">
    <div id="rasp-main"></div>
    <div id="rasp-menu"></div>
</div>

<footer>
    <h5>Built by Ray Powers</h5>
</footer>

<script type="text/template" id="main-region-template">
    <p>This is rendered text.</p>
</script>

<script type="text/template" id="menu-region-template">
    <ul>
        <%=   %>
    </ul>
</script>
